<div class="row">
<div class="col-md-8">
<h1> <%= @user.name %> </h1>

<table class="table table-bordered table-striped table-responsive">
    <tr>
        <th>Item</th>
        <th>Days Left</th>
        <th>Complete</th>
    </tr>
<%= render @items %>
</table>

<%= render "items/form", locals: { item: @item } %>
</div>
</div>