<div class="container">
    <div class="jumbotron">
        <h1>BlocItOff</h1>
        <p>A self destructing to-do list.  It gives up on you, so you don't have to give up on yourself.</p>
    </div>
</div>

