    <tr>
        <td><%= item.body %></td>
        <td><%= item.days_left %></td>
        <td><%= link_to "", item, method: :delete, class: 'glyphicon glyphicon-ok', remote: true%></td>
    </tr>
    