// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron #header {
    // font-family: 'Pacifico', cursive;
    // font-family: 'Cabin Sketch', cursive;
    
    text-align: center;
    font-size: 100px;
    color: white;
    margin-bottom: 40px;
}

#jumbo {
    text-align: center;
    color: white;
    font-family: 'Cuprum', sans-serif;
    background-color: #333366;
   

}


